frontend/node_modules/
frontend/__pycache__/
api/__pycache__/
music_controller/__pycache__/
*.pyc
*.pyo
db.sqlite3
.DS_Store
.env
*.logfrontend/node_modules/
frontend/node_modules/
frontend/static/frontend/*.js
frontend/static/frontend/*.js.map
